html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
    don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

/* Accessible focus treatment
    people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't screw with your line-heights
    gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's
    Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

/*  j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

.error, .notice, .success {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

/*
 * WebFire Styles
 * ----------------------------------------------------------------------------
 */

header
{
    height: 50px;

    margin-bottom: 20px;

    /* Gradient */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

header > h1
{
    background: transparent url("../img/webfire.png") no-repeat center center;
    text-indent: -9999px;
    width: 100px;
    height: 40px;
    float: left;
    border-right: 1px solid #ddd;
    margin-top: 5px;
    padding: 0 10px 0px 0;
}

header > nav > ul > li
{
    display: inline;
}

header > nav > ul > li > a
{
    display: block;
    float: left;
    color: #fff;
    margin: 19px 10px 0 10px;
}

header > nav > ul > li:first-child > a
{
    margin-left: 10px;
}

header > nav > ul > li:last-child > a
{
    margin-right: 0;
}

header > nav > ul > li > a,
header > nav > ul > li > a:link,
header > nav > ul > li > a:hover,
header > nav > ul > li > a:active,
header > nav > ul > li > a:visited
{
    text-decoration: none;
    color: #fff;
}

#wrapper
{
    width: 960px;
    margin: 0 auto 20px auto;
}

#wrapper h2
{
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

#welcome h3
{
    margin: 15px 0;
    font-size: 18px;
}

ul#generation-buttons li
{
    display: inline;
}

ul#generation-buttons li a
{
    display: block;
    float: left;
    margin: 0 15px;

    min-width: 50px;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 10px 27px;
    background: -moz-linear-gradient( top, #ffffff 0%, #ffffff 18%, #dddddd);
    background: -webkit-gradient( linear, left top, left bottom, from(#ffffff), color-stop(0.18, #ffffff), to(#dddddd));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow: 0px -1px 5px rgba(000,000,000,0.1), 0px 1px 0px rgba(255,255,255,1);
}

ul#generation-buttons li:first-child a
{
    margin-left: 0;
}


#wrapper form p,
#wrapper form h3
{
    margin: 15px 10px 10px 10px;
}

#wrapper form p > label
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#wrapper form p > input[type="text"]
{
    border: 1px solid #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

#wrapper form p > input[type="text"] + span.validation-error,
#wrapper form p > input[type="text"] + a.remove-controller-action + span.validation-error,
#wrapper form p > input[type="text"] + select + span.validation-error,
#wrapper form p > input[type="text"] + select + a.remove-table-column + span.validation-error
{
    color: red;
}

#wrapper form h3
{
    font-size: 16px;
    width: 210px;
    border-bottom: 1px solid #000;
}

#wrapper form h3 + p
{
    margin-top: 0;
}

#wrapper form p > input[type="checkbox"] + label
{
    display: inline;
    padding-top: 3px;
}

#wrapper form div > p > a.remove-controller-action,
#wrapper form div > p > a.remove-controller-action:visited,
#wrapper form div + p > a#add-controller-action,
#wrapper form div + p > a#add-controller-action:visited,
#wrapper form div > p > a.remove-table-column,
#wrapper form div > p > a.remove-table-column:visited,
#wrapper form div + p > a#add-table-column,
#wrapper form div + p > a#add-table-column:visited
{
    color: #888;
}

#wrapper form div > p > a.remove-controller-action:hover,
#wrapper form div > p > a.remove-controller-action:active,
#wrapper form div + p > a#add-controller-action:hover,
#wrapper form div + p > a#add-controller-action:active,
#wrapper form div > p > a.remove-table-column:hover,
#wrapper form div > p > a.remove-table-column:active,
#wrapper form div + p > a#add-table-column:hover,
#wrapper form div + p > a#add-table-column:active
{
    color: #000;
}

#wrapper form p > input[type="submit"]
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 10px 27px;
    background: -moz-linear-gradient( top, #ffffff 0%, #ffffff 18%, #dddddd);
    background: -webkit-gradient( linear, left top, left bottom, from(#ffffff), color-stop(0.18, #ffffff), to(#dddddd));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow: 0px 1px 3px rgba(000,000,000,0), inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow: 0px -1px 5px rgba(000,000,000,0.1), 0px 1px 0px rgba(255,255,255,1);
}

#wrapper p.confirmation-message
{
    font-weight: bold;
    margin-bottom: 10px;
}

#wrapper div#files > ul > li
{
    display: block;
    margin-bottom: 5px;
}

#wrapper div#files > ul > li > span.file-created,
#wrapper div#files > ul > li > span.file-edited
{
    color: green;
}

#wrapper div#files > ul > li > span.file-not-created,
#wrapper div#files > ul > li > span.file-not-edited
{
    color: red;
}
